<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Новини</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.4/dist/bootstrap-table.min.css">
    <!--    LINKS  -->
    <th:block th:insert="~{fragments/links}"></th:block>
</head>
<body>

<!--FRAGMENT -->
<th:block th:insert="~{fragments/navbar}"></th:block>

<main class="content">
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <div class="table table-striped" style="padding: 60px;">
                <table class="table" style="padding: 50px;">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Име на сайта</th>
                        <th>Име на новината</th>
                        <th>Категория</th>
                        <th>Дата на създаване</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="news : ${allNews}" data-id="${news.id}" class="news-row">
                        <td th:text="${news.id}"></td>
                        <td th:text="${news.siteName}"></td>
                        <td>
                            <a th:href="${news.newsUrl}" th:text="${news.heading}" target="${news.newsUrl}"></a>
                        </td>
                        <td th:text="${news.category}"></td>
                        <td th:text="${news.createdDate}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
</body>
</html>